{% extends 'base.html' %}

<!--template to upload a video-->
{%block add_video %}
    <form action="{% url 'upload_video' %}" method="post" enctype="multipart/form-data">
       {% csrf_token %}
        <table>
           <tr>
               <label>Upload a video</label><br>
               <td><input type="file"  name="file_name" required="file_name" accept="video/*"></td>
           </tr>

        </table>
        {% if error %}
            {{ error }}
        {% endif %}
            <input type="submit" value="upload"><br><br>
        <a href="{% url 'list_video' %}">back</a>
        <a href="{% url 'logout' %}">logout</a>
    </form>
{% endblock %}
