{% extends 'base.html' %}

{%block details %}
    <a href="{% url 'logout' %}">logout</a>
    {% if error %}
      No such video available
    {% endif %}
    {% if video %}
        <div class="align-text-center">
            <div class="box ">
                <h3>{{ video.name}}</h3>
                 Size         : {{ video.size  }} bytes<br>
                 Published on : {{ video.published  }}<br>
                 <video width="420" height="340" controls>
                      <source src="{{MEDIA_URL}}{{video.name}}" type="video/webm">
                      <source src="{{MEDIA_URL}}{{video.name}}" type="video/mp4">
                      <source src="{{MEDIA_URL}}{{video.name}}" type="video/ogg">
                 </video><br>
            </div>
        </div>
    {% endif %}
    <br><a href="{% url 'list_video' %}">back</a><br>
{% endblock details %}

