

{% extends 'base.html' %}

 {% block video_list %}
        {% if video_list %}
            <ul>
                {% for video in video_list %}
                    <tr>
                        <li><a href="{% url 'details' video.id %}">{{ video.name }}</a>
                            <a href="{% url 'delete_video' video.id %}" >    delete</a>
                        </li>
                    </tr>
                {% endfor %}
            </ul>
        {% else %}
            <p>No Videos are available.</p>
        {% endif %}
        <form action = "{%url 'add_video' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Upload Video">
        </form>
        <a href="{% url 'logout' %}">logout</a>
 {% endblock %}