{% extends 'base.html' %}

<!--List all the videos uploaded by the user-->

{% block list_videos %}
    <a href="{% url 'logout' %} ">logout</a>
    <div class="align-text-center">
        <form action = "{%url 'add_video' %}" method="post"><br>
            {% csrf_token %}
            <input type="submit" value="Upload Video"><br>
        </form>
    </div>
    {% if video_list %}
        <div class="align-text-center">
            <table class="table_style box">
                {% for video in video_list %}
                    <tr>
                        <td><a href="{% url 'details' video.id %}">{{video.name}}</a></td>
                        <td><a href="{% url 'delete_video' video.id %}" >delete</a><br></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <div>
            <p>No Videos are available.</p>
        </div>
    {% endif %}
{% endblock list_videos %}